

.board-wrapper 
{
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 187, 187);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    flex: 0 0 auto;
}


.nav-bar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    height: 5%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 10px 10px;
    /* position: sticky; */

    position: sticky;
    top: 0;
    overflow-y: auto;

}

.nav-bar h3
{
    color: #f1f1f1;
    font-family: inherit;
    font-weight: lighter;
}


.nav-bar button
{
    border: none;
    padding: 4px 13px;
    font-weight: bold;
    font-size: 1.2rem;
    color: grey;
}
.nav-bar button:hover
{
    cursor: pointer;
}


.nav-link
{
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(4, 1, 1);
    background-color: blanchedalmond;
    border-radius: 10px;
}
.board-content
{
    display: flex;
    height: 94%;
    background-color: rgba(12, 11, 10, 0.712);
    width: 100%;

    /* background-image: url('../assets/chamfjord-3vgB52Ts6ao-unsplash.jpg'); */
    background-size: cover;       /* makes image cover the whole element */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat;
    /* background-color: red;   */
    

   
}

.column-container {
    color: rgb(14, 13, 13);
    display: flex;
    white-space: nowrap;     /* optional if using inline-blocks or text */
    flex-wrap: nowrap;    /* critical for horizontal growth */
    gap: 5px;

    height: 100%;
    flex-direction: row;
    /* align-items: safe; */
    /* background-color: rgb(199, 187, 187); */
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    flex: 0 0 auto;
    padding: 0px 20px;
    box-sizing: border-box;

    /* border: 2px dashed blue; */
    
}


.column-container:active {
  cursor: grabbing;
}

/* 
.column-container > * {
    /* Set a fast transition time (150-200ms)
    transition: transform 150ms ease-out; 
    will-change: transform; 
} */



.add-column-button {
  background-color: rgba(255, 255, 255, 0.272);
  border: 0.5px solid rgba(211, 211, 211, 0.198);
  padding: 0 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bolder;
  color: #ffffff;
  margin: 20px 5px;
  padding: 20px 15px;
  min-width:16%;
  text-align: left;
  height: fit-content;
  max-height: 2%;
  color: white;
  width: 18%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-column-button:hover {
  background-color: rgba(200, 200, 200, 0.2);
}

.add-column {
  display: flex; 
  flex-direction: column;
  gap: 8px;
  margin: 20px 5px;
  padding: 5px 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 18%;
  min-width:16%;
  height: fit-content;
}
.col-name-input
{
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 0;
    border-radius: 7px;
    border: 0.5px solid lightgray;
}
.col-btn-div
{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;

}
.col-btn
{
    padding: 8px 10px;
    border: 0.5px solid lightgray;
    width: 30%;
    margin: 5px 5px;
    font-weight: bold;


}
.col-cancel-btn
{
    padding: 7px 1px;
    border: none;
    width: 15%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.col-cancel-btn:hover, .col-btn:hover
{
    background-color: rgba(128, 128, 128, 0.587);
    cursor: pointer;
}

