.card {
    width: 100%;
    background: white;

    border: 2px dotted lightgray;
    border-radius: 16px;

    overflow: hidden;

    box-shadow: 0 1px 3px rgba(0,0,0,.08);

    transition: all .2s ease;
}

.card:hover {
    transform: translateY(-1px);

    /* box-shadow: 0 0 5px var(--ring); */
    cursor: pointer;
    /* border-color: var(--primary); */
    border-color: var(--primary-muted);
}
