.dash-card
{
    min-width: 20%;
    width: 23%;
    height: 65%;

    margin: 25px 5px;

    /* border: 1px solid grey; */

    border-radius: 10px;
    background-color: white;


    border: 0.1px solid lightgray;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.242), 
            0 1px 2px -1px rgba(0, 0, 0, 0.242); */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13),
              0 1px 2px -1px rgba(0, 0, 0, 0.164);
    
    
    display: flex;
    flex-direction: column;
    
    
    padding: 5px 15px;
    justify-content:flex-end;

}

.dash-card:hover
{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.242), 
            0 1px 2px -1px rgba(0, 0, 0, 0.242);

}
.card-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 5px;
}


.icon
{
    height: 30px;
    width: 30px;
    margin: 0;
}
.card-num
{
    font-weight: bold;
    font-size: 1.7rem;
    padding: 0;
    margin: 10px 2px;
    /* letter-spacing: 0px; */
}
.card-desc
{
    padding: 0;
    margin: 0;
    font-weight: lighter;
    font-size: 1.1rem;
    color: grey;
    /* letter-spacing: 1px; */
}
/* 
.kanban-icon
{
    background-color: blue;
    

} */