.main-div
{
    display: flex;
    width: 100vw;
    /* min-width: 100vw; */
    /* max-width: 100vw; */
    background-color: 	#fafafa;
}

.dashboard-content
{
    /* background-color: aquamarine; */
    padding: 10px 0px;
    padding-right: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    
    width: 90%;
    margin: 20px 0;
    
}
.dashboard-heading
{
    /* background-color: wheat; */
    font-size: 2.0rem;
    font-weight: 600;
    margin: 0;
    padding: 5px 0;
} 
.dashboard-text
{
    /* background-color: wheat; */
    padding: 5px 0;
    margin: 0;
    font-size: 1.0rem;
    font-weight: lighter;
    color: rgba(40, 36, 36, 0.786);
}

.card-container
{
    

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;


    width: 100%;
    height: 30%;
    /* background-color: black; */
    margin-top: 20px;
    
    
}

/* .action-section
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    
    width: 100%;
    



    
   
} 

.active-projects
{
    display: flex;
    flex-direction: column;
    
   
    


    width: 68%;
    height: 100%;


    padding: 10px 20px;
    margin-right: 25px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.242), 
            0 1px 2px -1px rgba(0, 0, 0, 0.242);

    background-color: white;
    
    
    
} 

.action-history-container
{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    

    width: 25%;
    height: 100%;

}  





.quick-action
{
     height: 50%; 
    width: 100%;


    display: block;
    display: flex;
    flex-direction: column;
    
    margin: 10px 5px;


    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.242), 
            0 1px 2px -1px rgba(0, 0, 0, 0.242);
}

.recent-activity
{

    
    max-height: fit-content; 
    width: 100%;

    display: flex;
    flex-direction: column;
    
   



    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.242), 
            0 1px 2px -1px rgba(0, 0, 0, 0.242);

}  */


.action-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Don't allow wrapping */
  align-items: flex-start; /*Prevent stretch vertically */
  width: 100%;
  gap: 20px;
}

/* Left: active projects */
.active-projects {
  width: 70%;
  display: flex;
  flex-direction: column; /* Keep for your inner layout needs */
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: white;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.242),
              0 1px 2px -1px rgba(0, 0, 0, 0.242); */
  align-self: flex-start; /*Prevent it from stretching */
  border: 0.01px solid lightgray;
}

.active-projects-title
{
    width: 100%;
    display: flex;
    justify-content: left;
}
.active-projects-title h1
{
    font-weight: 570;
    font-size: 1.2rem;
}

/* Right: container holding both quick + recent */
.action-history-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: flex-start; /* Prevent this from stretching too */
  
}

/* Individual blocks on right */
.quick-action,
.recent-activity {
  width: 100%;
  display: flex;
  flex-direction: column; /* You keep flex here! */
  justify-content: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.242),
              0 1px 2px -1px rgba(0, 0, 0, 0.242);
  align-self: flex-start; /*Ensure independent height */
  border-radius: 15px;
  margin: 2px 0;
  margin-right: 5px;
}


.quick-action h1,
.recent-activity h1
{
    font-size: 1.2rem;
    padding: 2px 10px;
}