.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 24%;
    height: 30%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.428), 
            0 1px 2px -1px rgba(0, 0, 0, 0.558);
    margin: 15px 10px;
    padding: 30px 20px;
    
    font-weight: lighter;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* border: 2px solid rgba(41, 36, 49, 0.319); */

}
.icon
{
    padding: 10px 10px;
    width: 40px;
    height: 40px;
}
.name
{
    font-size: 1.3rem;
    font-weight: 570;
    /* padding: 10px 10px; */
}


.desc
{
    padding: 15px 5px;
    font-size: 1.1rem;
    color: rgba(20, 19, 19, 0.619);
    font-weight: 490;
    height: 50px;
    /* background-color: blanchedalmond; */

}

.card:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2),
              0 8px 8px rgba(0, 0, 0, 0.1);
  /* transform: translateY(-4px); */
}