

.card
{
    display: flex;
    gap: 0.8rem;
    /* background-color: red; */
    align-items: center;
    padding: 0.5rem;

}

.rank
{
    color: var(--muted-foreground);
    font-size: 1rem;

  
}

.stats-section
{
    display: flex;
    gap: 0.1rem;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* background-color: red; */
    width: 100%;
    white-space: nowrap;
    align-items: center;
   
    
}


.name
{
    font-size: 1rem;

}
.stats
{
    font-size: 0.8rem;
    color: var(--muted-foreground);
}

.badge
{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background-color: red;
}