

.card
{

    


    display: flex;
    justify-content: space-between;
    border-bottom: 0.8px solid lightgray;
    padding: 0rem 0rem;
    padding-bottom: 0;

}



.card:hover .del-icon-div
{
    display: flex;
}





.avatar-name
{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem 0;

    /* background-color: red; */
}

.name-contact
{

    display: flex;
    flex-direction: column;

}

.name
{
    font-size: 1rem;

}
.contact
{
    font-size: 0.8rem;
    color: var(--muted-foreground);
}
.role
{
    display: flex;
    align-items: center;
}

.del-icon-div
{
    display: none;
    padding: 2rem 1rem;
}
.del-icon:hover
{
    color: red;
    cursor: pointer;
}
