.overlay
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    
}

.overlay:hover
{
    cursor: pointer;
}
.modal
{
    width: 70%;
    /* height: 80%; */
    max-width: 900px;
    /* background-color: red; */
    /* border: 2px solid black; */
    /* border-radius: 20px; */
    margin-top: 70px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    

}

.modal:hover
{
    cursor:default;
}


.input
{
    border-radius: 10px;
    border: 0.5px solid lightgray;
    padding: 15px;
    width: 100%;
    height: 5%;
    font-size: 1.2rem;
    box-sizing: border-box;
    
}
.input:focus
{
    border: 12px blue;
}
.ul
{
    color: black;
    background-color: white;
}
li
{
    color: blue;
    background-color: bisque;
}