.overlay
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:hover
{
    cursor: pointer;
}
.modal
{
    width: 70%;
    height: 50%;
    max-width: 900px;
    /* background-color: red; */
    /* border: 2px solid black; */
    /* border-radius: 20px; */
   
    
    display: flex;
    flex-direction: column;

}

.modal:hover
{
    cursor:default;
}
.close-modal
{
    height: 10%;
    width: 97%;
    /* background-color: rgb(227, 58, 58); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    margin: 15px 10px;
    

}
.close-modal-btn
{
    padding: 0;
    padding: 5px 20px;
    
    border: none;
    /* background-color: rgb(149, 16, 16); */
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 20px;
}

.close-modal-btn:hover
{
    cursor: pointer;
    color: red;
}



.project-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}
.form
{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-input-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
}

.label
{
    padding: 10px 20px;
    font-size: 1.2rem;

}

.input
{
    border-radius: 8px;
    border: 0.5px solid lightgray;
    padding: 2px 15px;
}
.create-btn-div
{
    display: flex;
    justify-content: center;
    margin: 40px 20px;
    padding: 20px 10px;
}
.create-btn
{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 0.5px solid lightgray;
    transition: background-color 0.3s ease;
    padding: 10px 25px;
}

.create-btn:hover
{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.61);
}