.button
{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    border: 0.5px solid lightgray;
    padding: 3px 20px;
    border-radius: 8px;
    height: 10%;
    margin: 5px 5px;
}
.button:hover
{
    background-color: rgba(211, 211, 211, 0.604);
}
.nav-link
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100%;
}

.icon
{
    margin-right: 5px;

}
.btn-name
{
    font-size: 0.9rem;
    font-weight: 600;
}