.main-div
{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 7px;
    width: 88%;
    margin: 8px 0;
    padding: 20px 20px;
    align-items: center;
}
.main-div:hover
{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.242), 
            0 1px 2px -1px rgba(0, 0, 0, 0.242);
}

.left-div, .right-div
{
    width: 35%;
}
.left-div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.right-div
{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    align-items: flex-end;

}

.profile-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
  text-align: center;
  /* color: white; */
  font-family: 'Segoe UI', sans-serif;
}


.profile-avatar {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #1462df;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.3); */
}
.profile-avatar:hover
{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}














.user-detail-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}



.username
{
    width: 100%;
    font-size: 1rem;
    font-weight: 560;
    margin:0px 10px;
    margin-top: 5px;
    

}
.tasks-completed
{
    font-size: 0.8rem;
    font-weight: lighter;
    color: rgba(86, 82, 82, 0.87);
    margin:5px 10px;
    width: 100%;
}
.efficiency
{
    color: green;
    font-size: 0.9rem;
    margin:0px 10px;
    margin-top: 5px;
}
.avg-days
{
    font-size: 0.8rem;
    font-weight: lighter;
    color: rgba(86, 82, 82, 0.87);
    margin:5px 10px;
}