.card
{
    width: 99%;
    background-color: white;
    /* margin: 4px; */
    box-sizing: border-box;
    padding: 10px 10px;

    display: flex;
    justify-content: space-between;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    margin: 1px 2px;
    transition: all 0.3s ease;
}

.card:hover
{
    background-color: rgb(226, 225, 222);
}


.left-side
{
    display: flex;

}

.name-email
{
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 0px 3px;
}
.userName
{
   
}
.email
{
    color: gray;
}


.profile-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
  text-align: center;
  /* color: white; */
  font-family: 'Segoe UI', sans-serif;
}


.add-btn
{
    padding: 8px 30px;
    border: none;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 0.8rem;
    background-color: #ffffff;

}

.add-btn:hover
{
    background-color: #1462df;
    color: white;
    cursor: pointer;
    font-weight: normal;
}




.disabled {
  background-color: #e0e0e0;
  color: #888;
  cursor: not-allowed;
  border: 1px solid #ccc;
}









.profile-avatar {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #1462df;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.3); */
}
.profile-avatar:hover
{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

